@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<vylka.Areas.Entity.CartItem>
@{
    ViewData["Title"] = "Кошик";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="render-content">
    <div class="container mb-5">
        <a class="return d-flex align-items-center my-3" asp-controller="Home" asp-action="Index">
            <img class="mx-2" src="~/images/icons/home.png">
            <span class="mx-1" >></span>
            <span class="mx-2" >Повернутися назад</span>
        </a>
        <h1 class="mx-2">Кошик</h1>
        <section class="products d-flex flex-wrap">
            @foreach (var item in Model)
            {
                <div class="card m-xl-5">
                    <a class="btn delBtn"><img class="position-absolute top-0 end-0 mx-3 my-1" src="images/icons/trash.png" alt="видалити"></a>
                    <img class="card-img-top mx-auto mt-5" src="~/images/products/(@item.ProductId).jpg"  alt="Card image cap">
                    <div class="card-body text-black">
                        <h5 class="card-title">@item.ProductName</h5>
                        <div class="d-flex fs-5 fw-bold">
                            <label class="mx-1 price">@item.Price</label>
                            <p>грн</p>
                        </div>
                        <div class="counter d-flex fs-6 fw-bold">
                            <input type="button" class="btn border plus" value="+"/>
                            <label class="mx-3 countNum">@item.Quantity</label>
                            <input type="button" class="btn border mx-1 minus" value="-"/>
                            <input id="itemId" hidden value="@item.Id"/>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="d-flex justify-content-center align-items-center total toggled">
        <div class="my-3 d-flex justify-content-center align-items-center">
            <span class="mx-2">Загальна сума</span>
            <label class="mx-1 fs-3" id="totalAmount">0</label>
            <span>грн</span>
        </div>
        <a asp-controller="ShoppingCart" asp-action="NewOrder">
            <button class="mt-2 mb-4 btn btn-primary submit" type="submit">Оформити замовлення</button>
        </a>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/cart.js")" asp-append-version="true"></script>
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}