@using vylka.Areas.Entity
@model ShippingDetail
@{
    ViewData["Title"] = "Деталі замовлення";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS {
    <link href="@Url.Content("~/css/cart.css")" rel="stylesheet" asp-append-version="true"/>
}

<div class="render-content">
    <div class="d-flex justify-content-center align-items-center my-5">
        <div class="d-block">
            <div class="alert alert-success" role="alert">
                Ваше замовлення оформлено!
            </div>
            <input id="id" class="form-label" hidden asp-for="Id">

            <label class="form-label">Дата замовлення</label>
            <input id="date" class="form-control" disabled asp-for="CreateDelivery">

            <label class="form-label">Область</label>
            <input id="district" class="form-control" disabled asp-for="District">

            <label class="form-label">Місто</label>
            <input id="city" class="form-control" disabled asp-for="City">

            <label class="form-label">Адреса</label>
            <input id="address" class="form-control" disabled asp-for="Address">

            <label class="form-label">Доставка</label>
            <input id="delivery" class="form-control" disabled asp-for="DeliveryType">

            <label class="form-label">Замовник</label>
            <input id="user" class="form-control" disabled asp-for="UserId">

            <label class="form-label">До сплати</label>
            <input id="price" class="form-control" disabled asp-for="TotalPrice">

            <div>
                <a asp-controller="Home" asp-action="Index">
                    <button class="mt-4 btn btn-primary submit pdfDownloader" asp-action="Index">Завантажити файл</button>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="@Url.Content("~/js/jPDF.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/districts.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/deliveries.js")" asp-append-version="true"></script>
    @{
        <partial name="_ValidationScriptsPartial.cshtml"/>
    }
}