@{ 
    ViewData["Title"] = "Користувачі"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
} 
@section CSS {
    <link href="@Url.Content(" ~/lib/fontawesome-free/css/all.min.css")" rel="stylesheet" asp-append-version="true" />
    <link href="@Url.Content(" ~/css/admin.css")" rel="stylesheet" asp-append-version="true" /> 
} 
<div class="render-content">
	<div class="wrapper">
		<ul class="sidebar navbar-nav">
				<li class="side-nav-title d-flex">
					<div class="d-flex align-items-center">
						<button class="btn text-white" id="sidebarToggle">
							<img src="~/images/admin/sidebarToggle.png" alt="Card image cap">
						</button>
						<h1 class="text-white">Навігація</h1>
					</div>
				</li>
				<li class="nav-item border-bottom">
					<a class="nav-link d-flex justify-content-between" asp-area="" asp-controller="Admin" asp-action="Users">
						<div class="d-flex align-items-center">
							<img src="~/images/admin/users.png" alt="Card image cap">
							<span>Користувачі</span>
						</div>
						<span class="arrow fw-semibold float-end">></span>
					</a>
				</li>
				<li class="nav-item border-bottom">
					<a class="nav-link d-flex justify-content-between" asp-area="" asp-controller="Admin" asp-action="Products">
						<div class="d-flex align-items-center">
							<img src="~/images/admin/products.png" alt="Card image cap">
							<span>Товари</span>
						</div>
						<span class="arrow fw-semibold float-end">></span>
					</a>
				</li>
				<li class="nav-item border-bottom">
					<a class="nav-link d-flex justify-content-between" asp-area="" asp-controller="Admin" asp-action="Orders">
						<div class="d-flex align-items-center">
							<img src="~/images/admin/orders.png" alt="Card image cap">
							<span>Замовлення</span>
						</div>
						<span class="arrow fw-semibold float-end">></span>
					</a>
				</li>
				<li class="nav-item border-bottom">
					<a class="nav-link d-flex justify-content-between" asp-area="" asp-controller="Admin" asp-action="Categories">
						<div class="d-flex align-items-center">
							<img src="~/images/admin/categories.png" alt="Card image cap">
							<span>Категорії товарів</span>
						</div>
						<span class="arrow fw-semibold float-end">></span>
					</a>
				</li>
			</ul>
		<div class="content-wrapper">
			<div class="border-top border-primary border-4 bg-light table-responsive">
				<div class="bg-table-title text-dark">
					<h1 class=" fw-bolder fs-5 p-lg-3 ">Список користувачів</h1>
				</div>
				<table class="text-center table table-striped">
					<thead class="fs-6">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Електронна скринька</th>
							<th scope="col">Захешований пароль</th>
							<th scope="col">Номер телефону</th>
						</tr>
					</thead>
					<tbody> @foreach(var item in Model) { <tr>
							<th scope="row">@item.Id</th>
							<td>@item.Email</td>
							<td>@item.PasswordHash</td>
							<td>@item.PhoneNumber</td>
						</tr> } </tbody>
				</table>
			</div>
		</div>
	</div>
</div> 
@section Scripts { 
    <script src="@Url.Content(" ~/js/admin.js")" asp-append-version="true"></script> 
}