@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>  
@{  
    ViewData["Title"] = "Ролі";  
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}  
@section CSS {
    <link href="@Url.Content("~/lib/fontawesome-free/css/all.min.css")" rel="stylesheet" asp-append-version="true"/>
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" asp-append-version="true"/>
} 
<div class="render-content">
		<div class="content-wrapper">
			<div class="border-top border-primary border-4 bg-light table-responsive">
				<div class="bg-table-title text-dark d-flex justify-content-between align-items-center">
					<h1 class=" fw-bolder fs-5 p-lg-3 ">Ролі</h1>
					<a asp-area="Admin" asp-controller="RoleAdmin" asp-action="AddRole">
						<button class="btn btn-success">
							<i class="fa-sharp fa-solid fa-file-circle-plus"></i>
							<span>Додати роль</span>
						</button>
					</a>
				</div>
				<table class="text-center table table-striped">
					<thead class="fs-6">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Назва ролі</th>
							<th scope="col">Змінити</th>
							<th scope="col">Видалити</th>
						</tr>
					</thead>
					<tbody> 
						@foreach (var item in Model)
							{
								<tr>
									<td>@item.Id</td>
									<td>@item.Name</td>
									<td>
										<a class="btn btn-sm btn-primary" asp-action="UpdateRole" asp-route-id="@item.Id">
											<i class="fa fa-pen"></i>
										</a>
									</td>

									<td>
										<a asp-area="Admin" asp-controller="RoleAdmin" asp-action="DeleteRole" asp-route-id="@item.Id">
											<button class="btn btn-danger">
												<i class="fa fa-trash"></i>
											</button>
										</a>
									</td>
								</tr>
							}	
					</tbody>
				</table>
			</div>
		</div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/admin.js")" asp-append-version="true"></script>
}